* , *::after , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-info-card-cant {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
}
.profile-info-card {
    padding: 20px 0;
    height: 420px;
    width: 320px;
    background-color: aliceblue;
    box-shadow: 0 0 8px black;
    border-radius: 1rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    row-gap: 18px;
}
.profile-info-card .img{
    height: 140px;
    width: 140px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid green;
}
.profile-info-card .name {
    font-size: 2rem;
    font-weight: 700;
}
.profile-info-card .role{
    color: rgb(81, 79, 79);
}
.profile-info-card .social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}
.profile-info-card .social-medias a {
    text-decoration: none;    
}
.profile-info-card .social-medias a:hover svg{
    /* height: 2.2rem; */
    transform: scale(1.1);
}
.insta {
    color: blueviolet;
}
.lnkdn {
    color: rgb(0, 98, 255);
}
.git {
    color: rgb(6, 6, 24);
}
.profile-info-card .connect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}
.profile-info-card .connect button{
    border: none;
    padding: 10px 30px;
    border-radius: .91rem;
    font-weight: 600;
    color: white;
    background-color: rgb(20, 179, 20);
    box-shadow: 0 0 3px black;
}
.profile-info-card .connect button:hover {
    background-color: rgb(20, 208, 20);
    box-shadow: 0 0 8px black;
}
.profile-info-card .impression {    
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-info-card .impression svg{   
    padding: 2px 50%;
    height: 1.4rem;    
    cursor: pointer;
}
.profile-info-card .impression svg:hover { 
    color: rgb(65, 65, 65);
}
.left-border {
    border-left: 1px solid rgb(71, 71, 71);
}
.heart {
    color: red;
}
.profile-info-card .impression .heart:hover {
    color: rgb(255, 52, 52);
}
.chat {
    color: rgb(13, 73, 163);
}
.profile-info-card .impression .chat:hover {
    color: rgb(14, 97, 222);
}
.heart {
    color: red;
}
.profile-info-card .impression .heart:hover {
    color: rgb(255, 52, 52);
}