*{
    box-sizing: border-box;
}
.chat-app-box {
    background: linear-gradient(to right , rgb(85, 0, 255) , white , rgb(204, 16, 2));
}
.live-chat-box {
    border-radius: .7rem;
    box-shadow: 0 0 5px black;
    background-color: white;
    /* background-color: aliceblue; */
    margin: auto;
    max-width: 900px;
    min-height: 92vh;
    padding: 1rem;
    position: relative;
    padding-bottom: 3rem;
}
.user-info-for-chat {
    background-color: aliceblue;
    /* border: 2px solid black; */
    box-shadow: 0 0 5px black;
    border-radius: .5rem;
    padding: .5rem;
}
.new-message-sending-box {
    padding: .4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;

    /* position: absolute; */
    position: fixed;
    bottom: 0;
    width: 90vw;
    max-width: 860px;
}
.new-message-sending-box .message-input-box-tag {
    padding: 7px 20px;
    border-radius: .5rem;
    outline: none;
    border: none;
    box-shadow: 0 0 3px black;
    /* font-weight: 530; */
}

.new-message-sending-box input {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.51);
}
.new-message-sending-box button:hover {
    background-color: rgb(224, 217, 255);
}
.new-message-sending-box button:active {
    background-color: rgb(60, 49, 107);
    color: white;
}


/* temporary */
.chat-message-box {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
  }
  
  .chat-message-box .left {
    padding: 6px;
    color: white;
    border-radius: 10px;
    max-width: 80%;
    text-align: left;
    align-self: self-start;
    width: fit-content;
    background-color:rgb(3, 74, 3);
  }
  
  .chat-message-box .right {
    padding: 6px;
    color: white;
    border-radius: 10px;
    max-width: 80%;
    align-self: self-end;
    text-align: right;
    width: fit-content;
    background-color:rgb(3 , 74 , 3);
  }
  .chat-message-box .center {
    padding: 6px;
    color: white;
    border-radius: 10px;
    /* max-width: 80%; */
    align-self: center;
    text-align: center;
    width: fit-content;
    background-color:rgb(129, 114, 4);
  }
  
  
  .chat-message-box .right span , 
  .chat-message-box .left span{
    color: gray;
  }
  /* temporary */