/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

*{
  margin: 0;
  padding: 0;
}

.centre {
  text-align: center;
}

.nav {
  top: 0;
  /* margin: 0; */
  background-color: rgb(84, 28, 28);
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;

  height: 10vh;
  position: fixed;
}


.nav-tag {
  border-radius: 20px;
  padding: 15px 20px;
  display: block;
  text-align: center;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.nav-tag:hover {
  color: black;
  background-color: rgb(207, 207, 207);
  font-weight: 700;
}

.center {
  text-align: center;
}
.margin-top {
  margin-top: 10vh;
}
.margin-left {
  margin-left: 10px;
}

.news-cant {
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.box {
  border: 2px solid black;
  background-color: rgb(202, 209, 209);
}

.news-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  top: 10vh;
  position: fixed;
  position: sticky;
  background-color: rgb(176, 17, 239);
}

.news {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: 25% 25% 25% 25%;
  /* grid-template-columns: 33.34% 33.34% 33.33%; */
  width: 100%;
}

.news-card {
  margin: 5px;
  padding: 7px;
  border: 2px solid black;
  background-color: aliceblue;
}

.news-img {
  width: 100%;
  display: inline;
  text-align: center;
}

.news-tag {
  text-shadow: 0px 0px 7px rgb(12, 215, 15);
  padding: 5px 10px;
  border-radius: 1rem;
  text-decoration: none;
  color: red;

}

.news-tag:hover {
  /* background-color: rgb(255, 255, 0); */
  font-weight: 800;
  color: blueviolet;
}

.stud {
  margin: 1rem;
  padding: 1rem;
  display: inline-block;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: rgb(239, 233, 227);
}

.form-cant {
  margin: 1rem auto;
  padding:2rem 0rem 2rem 0rem;
  border-radius: 1rem;
  border: 3px solid black;
  width: 60%;
  background: linear-gradient(rgb(255, 68, 0) , white , green);
}

.form-tag {
  color: white;
  text-shadow: 3.5px 1px 0px black;
  text-align: center;
}

.form-input {
  border-radius: 5px;
  border: 2px solid black;
  display: block;
  width: 60%;
  padding: 10px;
  margin: 5px auto;
  text-align: center;
  /* color: white; */
  background-color: rgba(238, 255, 165, 0.335);
  font-size: large;
}
button.form-input {
  color: white;
  width: 63%;
  /* width: 20%; */
  background-color: red;
  font-weight: 600;
}
button.form-input:hover {
  background-color: rgb(144, 42, 165);
}

.student-cant {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.student {
  display: inline-block;
  /* width: 23.4%; */
  margin: 3px;
  padding: 5px;
  border: 2px solid black;
  background-color: rgb(113, 161, 177);
}

a.student {
  text-align: center;
}

.student-info {
  text-align: center;
  margin: 5px;
  color: white;
  text-shadow: 1px 1px 3px rgb(255, 0, 0);
}

.input {
  margin: 1px 5px;
  padding: 3px;
  text-align: center;
  background-size: contain;
  border-radius: 5px;
}

button.input {
  padding: 3px;
}
button.input:hover {
  background-color: blueviolet;
  color: white;
}

.update {
  padding: 2px;
}
.update:hover {
  background-color: rgb(72, 6, 134);
  color: white;
}

.home {
  margin: 5px;
}

.cursor {
  cursor: pointer;
}

.a{
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: bisque;
}

.a:hover {
  background-color:  rgba(146, 172, 34);
  font-weight: 1000;
  text-shadow: 0 0 3px red;
}

#flex {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-decoration: none;
}

#flex:hover {
  text-shadow: 0 0 3px red;
  background: linear-gradient(rgb(255, 68, 0) , white , green);
}


@media screen and (max-width: 1080px) {
  .student-cant {
    grid-template-columns: 33% 33% 34%;
  }
  .news-cant {
    grid-template-columns: 14% 86%;
  }
  
  .news {
    grid-template-columns: 33% 33% 34%;
  }

  .form-cant {
    width: 74%;
  }
}


@media screen and (max-width: 750px) {
  .student-cant {
    grid-template-columns: 50% 50%;
  }
  .news-tag {
    display: none;
  }
  .input {
    align-items: center;
  }
  .news-layout {
    align-items: center;
    flex-direction: row;
    height: 5vh;
  }
  .news-cant {
    grid-template-columns: auto;
  }

  .news {
    grid-template-columns: 50% 50%;
  }

  .form-cant {
    width: 80%;
  }
}


@media screen and (max-width: 600px) {
  .nav-tag {
    border-radius: 8px;
    padding: 5px;
  }
  .student-cant {
    grid-template-columns: auto;
  }

  a.student {
    height: 400px;
  }
  
  .news-layout {
    padding-left: 5px;
    height: 4vh;
    background: none;
  }
  .news {
    grid-template-columns: auto;
  }

  .form-cant {
    width: 90%;
  }
}


