/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

*{
  margin: 0;
  padding: 0;
}

.centre {
  text-align: center;
}

nav {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(84, 28, 28);
}

.nav-tag {
  margin: 5px 2px;
  padding: 14px 40px;
  /* border: 2px solid black; */
  border-radius: 15px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.nav-tag:hover {
  background-color: black;
  font-weight: 700;
}