* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 .nav-right div {
     position: relative;
 }

 .nav-right div a:hover::after,
 #bar:hover::after ,
 #active::after {
     left: 25px;
     width: 40%;
     bottom: 0px;
     content: "";
     height: 2px;
     position: absolute;
     background-color: green;
 }
 #active {
    color: green;
    transform: scale(1.1);
 }

 .nav-cant {
     top: 0;
     width: 100%;
     height: 8vh;
     z-index: 999;
     display: flex;
     position: fixed;
     align-items: center;
     justify-content: space-between;
     box-shadow: 0 0 10px rgb(112, 109, 109);
     background-color: rgba(211, 211, 211, 1.85);
 }

 .nav-left {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-left: 20px;
 }

 .nav-right {
     right: 0;
     z-index: 5;
     display: flex;
     position: absolute;
     align-items: center;
     transition: 1s;
     /* justify-content: space-evenly; */
 }

 .nav-tag1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-left: 12px;
 }

 #tag {
     width: 50px;
     height: 50px;
     border-radius: 30px;
     box-shadow: 0 0 4px black;
 }


 .nav-tag {
    transition:.2s;
     display: block;
     font-weight: 600;
     text-align: center;
     border-radius: 20px;
     padding: 5px 1.5rem;
     text-decoration: none;
     color: rgb(82, 80, 80);
 }

 .nav-tag:hover {
    color: green;
    transform: scale(1.1);
}

 img.nav-tag:hover {
     background: local;
 }

 .home {
    position: relative;
    /* background-image: url('../public/Ab1.jpg');
    background-size: cover;
    background-position: center; */
 }
 
 .intro {
    z-index: 1;
    opacity: .9;
    height: 92vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: contain;
    box-shadow: 0 0 5px black;
    background-repeat: no-repeat;
    background-position: top 25% right 0;
    background-color: rgb(240, 248, 255);
    /* background-image: url('../mongo/A2.jpg'); */
    background-image: url('../public/Ab1.jpg');
    background-size: cover;
    background-position-x: center;
    /* gap: 20px; */
}

 .intro-tag {
    /* transform: scale(2); */
    text-align: center;
    text-shadow: 0 0 4px rgb(255, 255, 0);
    /* background-color: rgba(30, 0, 255, 0.17); */
 }
 h1.intro-tag {
    font-size: 3.5rem;
 }
 h3.intro-tag {
    font-size: 2rem;
 }
 .study {
     padding: 7px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
 }

 .tech {
     width: 65%;
     margin: 5px;
     height: 40vh;
     display: grid;
     padding: 0 1rem;
     border-radius: 10px;
     transition: .2s ease;
     grid-template-columns: 30% 70%;
     box-shadow: 0 0 20px rgb(173, 164, 164);
 }

 .tech:hover {
     box-shadow: 0 0 10px rgb(23, 22, 22);
     background-color: rgb(240, 248, 255);
 }

 .tech-tag {
     display: flex;
     padding: 0 1rem;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .tech-tag p {
     text-align: center;
 }

 .tech-tag h2 {
     text-align: center;
 }

 .anti-right {
     display: none;
     cursor: pointer;
 }

 #bar {
     height: 2rem;
     margin-right: 25px;
     transition: 1s;
 }


 #c {
    background-color: rgb(195, 214, 230);
    padding:8px 20px;
    border-radius: 10px;
 }
 #react {
    color: rgb(0, 132, 255);
    background-color: rgb(195, 214, 230);
    padding:7px;
    border-radius: 10px;
 }
 #boot {
    color: rgb(162, 0, 255);
 }
 #js {
    height: 8rem;
    color: rgb(183, 183, 12);
 }
 #css {
    color: blue;
 }
 #html {
    color: orangered;
 }
 #java {
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
 }
 #N {
     height: 5rem;
     color: white;
     padding: 25px 35px;
     /* border-radius: 30px; */
     border-radius: 50%;
     background-color: rgb(31, 30, 30);
 }
#x {
    display: none;
    height: 1.5rem;
    transition: .3s;
}
#x:hover {
    transform: scale(1.5);
    color: rgb(147, 7, 7);
}
.social-media {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300px;
}
.social-platform {
    text-decoration: none;
    color: rgb(0, 85, 255);
}
.social-platform:hover {
    transform: scale(1.2);
}
#github {
    color: rgb(4, 13, 29);
}
#insta {
    /* color: rgb(133, 3, 255); */    
    color: rgb(193, 53, 132);
}
#insta:hover {
    color: rgb(193, 53, 13);
}
.proj img {
    border-radius: 50%;
    border: 5px solid green;
}
 @media screen and (max-width: 1025px) { 
    
    .nav-right div a:hover::after,
    #bar:hover::after ,
    #active::after {
        bottom: 17px;
    }
    .nav-tag1 {
        margin-left: 45px;
    }
    #x {
        display: block;
    }
     .nav-left {
         padding-left: 0;
     }

     .anti-right {
         display: flex;
     }

     .nav-right {
         /* padding-top: 2vh; */
         top: 0vh;
         right: -500px;
         background-color: rgba(211, 211, 211);
         border-left: 2px solid rgb(116, 115, 115);
         min-width: 200px;
         width: 35%;
         flex-direction: column;
         height: 100vh;
     }

     .nav-right div a:hover::after {
         left: 35px;
         width: 30%;
     }

     .nav-tag {
         padding: 20px 15px;
         font-weight: 700;
         font-size: 1.2rem;
     }

     .nav-tag:hover {
         color: green;
     }


     .nav-right div a:hover::after {
         left: 15px;
         width: 50%;
     }
     
     .tech {
        width: 100%;
     }

    .tech:hover {
        width: 100%;
        background-color: aliceblue;
        box-shadow: 0 0 10px rgb(23, 22, 22);
    }

    .tech-tag:nth-child(2) {
       padding: 0 8px;
    }
  
    h1.intro-tag {
        font-size: 2.8rem;
    }
    h3.intro-tag {
        font-size: 1.5rem;
    }
 }



 @media screen and (max-width: 500px) {
    #bar {        
     margin-right: 10px;
    }
    .nav-tag1 {
        margin-left: 20px;
    }
    .tech-tag svg {
        height: 5rem;
    }
    
    #N {
        height: 3.7rem;
        padding: 10px 18px;
    }
    #js {
        height: 5rem;
    }
    #c {
        font-size: 4rem;
        padding: 4px 12px;
    }
    #java {
        height: 4.8rem;
        padding: 4px 12px;
    }
    #react {
        height: 4.5rem;
        padding: 5px;
    }
    .study {
        padding: 0;
    }
    .tech {
        width: 98%;
        margin: 5px 4px;
    }
    .tech:hover {
        width: 100%;
    }
    h1.intro-tag {
       font-size: 2.4rem;
    }
    h3.intro-tag {
       font-size: 1.4rem;
    }
 }
 @media screen and (max-width: 300px) {
    .nav-tag1 {
        /* margin-left: 5px; */
    }
 }