@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .h-nav {
    min-height: calc(100vh - 4rem);
  }
  .overflow-break {
    overflow-wrap: break-word;
    word-break: break-word;
  }
}