@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .top-nav {
    top: 4rem;
  }
  .h-nav {
    min-height: calc(100vh - 4rem);
  }
  .overflow-break {
    overflow-wrap: break-word;
    word-break: break-word;
  }
  .rotate-y-180 {
    rotate: Y 180deg;
  }
}